DJANGO_SECRET_KEY=troque-esta-chave
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

MHEIBOS_APP_VERSION=0.1.0
MHEIBOS_LICENSE_ENFORCED=true
MHEIBOS_LICENSE_PUBLIC_KEY=
MHEIBOS_LICENSE_SERVER_URL=
MHEIBOS_LICENSE_OFFLINE_DAYS=30
MHEIBOS_INTEGRITY_ENFORCED=true
